.contactus{
	background-color: #ffe01c;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top: 66px;
	text-align: left;
}

@media screen and (min-width:990px){
	.contactus .text{
		width: 60%;
	}
}


.contactus .text{
	padding: 4rem;
}

.contactus .form{
	align-items: flex-start;
	text-align: left;
	margin: 0px;
}

.contactus .form .form-element{
	text-align: left;
	padding: 0px;
	margin:0px;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

.contactus .form.form-group-sm .form-control, .form-group-sm .form-control:focus{
	border: 0px;
	border-radius: 0px;
	padding: 0.5vw;
	margin: 0px;
	background-color: white;
	color: black;
	font-weight: 400;
}

.contactus .form .form-control-label{
	font-weight: 400;
	color: black;
}
.contactus .form .button, .form .button:focus, .form .button:hover{
	text-transform: uppercase;
	border-radius: 0px;
	background-color: black;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
}

