html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; 
    vertical-align: baseline;
}

.Dashboard{
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: row;
}

.Dashboard .left{
	width: 15%;
	background-color: #f4f4f4;
	align-items: flex-start;
	display: flex;
	align-content: center;
	text-align: center;
	height: 100vh;
	padding-top: 11.28vh;
	
}

.Dashboard .left .buttons{
	flex-direction: column;
	margin: 0px;
	padding:0px;
	width: 100%;

}

.Dashboard .left .buttons .button{
	width: 100%;
	background-color: transparent;
	border: none;
	border-right:0.75vw transparent solid;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	display: block;
	text-align: left;
	padding-left: 4.5vw;
	margin: none;
}

.Dashboard .left .buttons .button:active, .Dashboard .left .buttons .button:focus, .Dashboard .left .buttons>.btn.active{
	border: none;
	border-right: 0.75vw #ffe01c solid;
	outline: none;
	color:black;
	font-weight: bold;
}

.Dashboard .left .buttons .button:hover:not(.active){
	font-weight: 400;
	border-right: 0.75vw #ffe01c solid;
	outline:none;
}

.Dashboard .left .addButton{
	background-color: #ffe01c;
	font-weight: 500;
	border: none;
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
}

.Dashboard .left .addButton:hover{
	opacity: 0.75;
}

.Dashboard .left .addButton:focus{
	outline: none;
}

.Dashboard .left .calendar{
	text-align: center;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.Dashboard .left .calendar .react-datepicker__header{
	border-bottom: 0.5px solid #aeaeae;
	background-color: white;
}

.Dashboard .left .calendar .react-datepicker__current-month{
	font-weight: 400;
	border-bottom: 0.5px solid #aeaeae;
	padding-bottom: 1vh;
}

.Dashboard .left .calendar .react-datepicker__navigation--previous{
	left: 1px;
}


.Dashboard .left .calendar .react-datepicker__navigation--next{
	right:1px;
}

.Dashboard .left .calendar .react-datepicker__day-name{
	color: #aeaeae;
}

.Dashboard .left .calendar .react-datepicker__day--selected{
	background-color: #ffffe0;
	color: black;
}

.Dashboard .left .calendar .react-datepicker-wrapper .react-datepicker__today-button{
	background:#ffe01c;
}

.Dashboard .popup{
	text-align: center;
	align-items: center;
	justify-content: center;
	align-content: center;

}

.Dashboard .popup h2{
	color: black;
	font-weight: 400;
	text-align: center;
}

.Dashboard .popup .popup-header{
  display: flex;
  flex: row;
  justify-content: center;
  text-align: center;
  font-size: calc(15px + 2vmin);
  font-weight: 500;
  color: black;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}


.Dashboard .popup .form{
	align-items: center;
	width: 70%;
	margin: auto;
    margin-bottom: 1vw;
    justify-content: flex-end;  
}

.Dashboard .popup label{
	text-align: right;
}

.Dashboard .left .popup .button, .Dashboard .left .popup .button:focus{
	background-color: #ffe01c;
	border:0px;
	color: black;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	margin-left: 1vw;
	width: 50%;
}

.Dashboard .left .popup .button:hover:not(.active){
	font-weight: 500;
	border: none;
}
.Dashboard .left .popup .buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}




.Dashboard .right{
	width: 90%;
	background-color: white;
}

.Dashboard .right .navigation{
	background-color: #f4f4f4;
	padding: 1vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	display: flex;
	flex-direction: row;
	vertical-align: baseline; 
	justify-content: space-between;
}

.Dashboard .right .navigation .MuiIconButton-root-1{
	padding:6px;
}

.Dashboard .right .content{
	padding-left: 1vw;
}

.Dashboard .right .content .live-card{
	background: linear-gradient(90deg, #F8691E, #F9D960);;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	margin: 2vw;
}

.Dashboard .right .content .live-card p{
	color: white;
	font-weight: 500;
}

.Dashboard .right .content .live-card .card-content{
	display: flex;
	flex-direction: row;
	padding: 1vw;
	padding-left: 2vw;
	width: 100%;
	justify-content: space-between;
}

.Dashboard .right .content .live-card .card-content .interactive{
	background-color: white;
	border-radius: 10px;
	padding: auto;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	margin-right: 2vw;
	margin-left: 2vw;
}
.Dashboard .right .content .live-card .card-content .interactive .fab{
	background-color: red;
	margin: auto;
	margin-right: 1vw;
	margin-left: 1vw;
	size:auto;
	border-radius: 50%;
	min-height: 30px;
	height: 30px;
	width: 30px;
	vertical-align: center;
	font-size:15px;
}
Dashboard .right .content .live-card .card-content .interactive .fab .MuiSvgIcon-root-10{
	font-size: 15px;
	margin: 0px;
}

.Dashboard .right .content .live-card .card-content .interactive p{
	color: black;
	padding: 0px;
	margin: auto;
	margin-right: 1.25vw;
	font-size: smaller;
}

.Dashboard .right .content .live-card .card-content .interactive a{
	width: 100%;
	margin:auto;
	font-size: 3.2vh;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.Dashboard .right .content .live-card .card-content .interactive .popup .button, .Dashboard .right .content .live-card .card-content .interactive .popup .button:active{
	border: none;
	border-bottom: 1.5px solid #ccc;
	width: 100%;
	border-radius: 0px;
	background-color: transparent;
	box-shadow: none;
	text-align: center;
}
.Dashboard .right .content .live-card .card-content .interactive .popup .button:hover, .Dashboard .right .content .live-card .card-content .interactive .popup .button:focus{
	font-weight: 500;
	outline: none;
}

.Dashboard .right .content .live-card .card-content .interactive .popup .buttons{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.Dashboard .right a{
	color: black;
	margin-top: 1.1vw;
}

.Dashboard .right a:hover{
	color:#5960A3 ;
	text-decoration: none;
}

.Dashboard .right .content .question-card{
	display: flex;
	flex-direction: column;
	margin: 2vw;
	align-content: center;
	justify-content: center;
}

.Dashboard .right .content .question-card .card-content{
	justify-content: space-between;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.Dashboard .right .content .question-card .card-action{
	background-color: #f4f4f4;
	padding:0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
}

.Dashboard .right .content .question-card .card-action .expand-button-normal{
	transform: rotate(0deg);
	font-size: 5vw;
}

.Dashboard .right .content .question-card .card-action .expand-button-expanded{
	transform: rotate(180deg);
	color: orange;
}

.Dashboard .right .content .question-card .answers{
	display:flex;
	flex-direction:column;
	margin:auto;
	width: 85%;
}

.Dashboard .right .content .question-card .answers .answer{
	background-color: #f7f3dc;
	border-radius: 0;
	margin: auto;
	margin-top: 1vh;
	margin-bottom:1vh;
	width: 100%;
	border: none;
	text-align: left;
	font-weight: 500;
}

.Dashboard .right .content .question-card .answers .answer-correct{
	background-color: green;
	border-radius: 0;
	margin: auto;
	margin-top: 1vh;
	margin-bottom:1vh;
	width: 100%;
	border: none;
	text-align: left;
	font-weight: 500;
}

.Dashboard .right .content .question-card .switch {
    border: 1px solid #ccc;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    
}

.Dashboard .right .content .question-card .switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 30px;
    height: 29px;
    left: 0;
    border-radius: 50%;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.Dashboard .right .content .question-card .switch.on {
    background: green;
}

.Dashboard .right .content .question-card .switch.on .switch-toggle {
    left: 37px;
}

.Dashboard .right .content .question-card .switch.disabled {
    cursor: not-allowed;
}