html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.faq{
	background-color: #ffe01c;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top: 6vw;
	text-align: left;
}

.faq h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
}

.faq .text p{

}

.faq .text{
	text-align: justify;
	display: flex;
	flex-direction: column;
	width: 55%;
	justify-content: space-around;
	background-color: transparent;
	align-items: left;
	padding: 5vw;
	margin-bottom: 1.4vw;
	height: 100%;
}

.faq .buttons{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 7vw;
	justify-content: space-between;
}

.faq .buttons .button, .faq .buttons .button:focus{
	background-color: black;
	color: #ffe01c;
	width: 15vw;
	border: 1px solid black;
	border-radius: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	outline: 0px;
}

.faq .buttons .button:hover, .faq .buttons .button:active{
	color: black;
	background-color: #ffe01c;
	border: 1px black solid;
}
