html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.forgetpassword{
	background-color: white;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top: 6vw;
	text-align: left;
}

.forgetpassword h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
}

.forgetpassword .form a{
	font-weight: 400;
	color: black;
	letter-spacing: 1px;
	margin-top: 0.5vw;
	margin-left: 3vw;
	width: 100%;
}

.forgetpassword .text{
	text-align: justify;
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: space-around;
	background-color: transparent;
	align-items: left;
	padding: 5vw;
	margin-bottom: 1.4vw;
	height: 100%;
}

.form{
	align-items: flex-start;
	text-align: left;
	margin: 0px;
}

.form-element{
	text-align: left;
	padding: 0px;
	margin:0px;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

.form-group-sm .form-control, .form-group-sm .form-control:focus{
	border: 0px;
	border-radius: 0px;
	padding: 0.5vw;
	margin: 0px;
	background-color: white;
	color: black;
	font-weight: 400;
}

.form-control-label{
	font-weight: 400;
	color: black;
}
.form .button, .form .button:focus, .form .button:hover{
	text-transform: uppercase;
	border-radius: 0px;
	background-color: black;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
}

