.Home {
	width: 100%;
}

.Home .lander {
  padding: 80px;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 10px;
}

.Home .lander h2 {
  font-weight: bold;
  color: #502075;
}

.Home .lander p {
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.Home-button {
	background-color: #502075;
  	border: none;
  	transition: 0.3s opacity ease;
  	cursor: pointer;
  	color: white;
}