html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.Home {
  padding-top:50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  
  background: url('./landerbackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.Home .lander {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: space-around;
  padding: 5vw;
  background-color: transparent;
  align-items: center;
}

.Home .lander img{
  max-width: 100%;
  max-height: 100%;
}

.Home .lander .text{
  width: 60%;
}

.Home .lander .image{
  width: 40%;
}
.Home  .lander h1 {
  
  color: black;
  padding-bottom: 0px;
  font-size: 4.7vw;
  margin: 20px;
  font-weight: 500;
}

.Home  .lander p {
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.Home-button {
  background-color: black;
  border: none;
  border-radius: 22px;
  transition: 0.3s opacity ease;
  cursor: pointer;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.3vw;
  margin: 20px;
  margin-top: -15px;
  width: 40%;

}

.Home-button:hover, .Home-button:active, .Home-button:focus, .Home-button:focus:active{
  background-color: #5960A3;
  color: white;
  border: none;
}

.Home .about {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  justify-content: space-around;
  padding: 5vw;
  background-color: transparent;
}

.Home .about h1{
  margin:20px;
  font-weight: 500;
}

.Home .about .div1{
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  margin: 30px;
  border: 1px black solid;
}

.Home .about .div1 .text{
  text-align: left;
  margin-top: 70px;
  margin-left: 100px;
  max-width: 60%;
  justify-content: flex-start;
}

.Home .about .div1 h5{
  font-weight: bold;
  font-size: 20px;
}

.Home .about .div2{
  text-align: right;
  display: inline-flex;
  flex-direction: row;
  margin: 30px;
  border: 1px black solid;
  justify-content: flex-end;
}

.Home .about .div2 .text{
  text-align: right;
  margin-top: 70px;
  margin-right: 100px;
  max-width: 60%;
}

.Home .about .div2 h5{
  font-weight: bold;
  font-size: 20px;
}

.Home .pricing{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  padding: 5vw;
}

.Home .pricing h1{
  color: black;
  font-size: 4vw;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
}

.Home .pricing .header{
  border-bottom: 2px purple solid;
}

.Home .pricing .content{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.Home .pricing .card{
  height: 100%;
  margin: 10px;
}

.Home .pricing .media{
  height: 100%;
}
