html, body, div, span, ul,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.login {
  margin-top: 0vw;
  padding-top: 5vw;
  margin-right: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  border: 0px solid black;
  color: black;
  width: 100%;
  height: 100%;
}

.login .left{
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.login .left h1{
  font-weight: 500;
  font-size: 3vw;
  margin-bottom: 1vw;
}

.login .left p{
  text-align: left;
  margin-bottom: 0.2vw;
  font-weight: 300;
  font-size: 1.2vw;
}

.login .left a{
  font-weight: 300;
  text-align: left;
  font-size: 1.2vw;
  color: #5960A3;
  text-decoration: underline;
}

.login .left .login-form{
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: left;
}


.login .left .login-form .form-element{
  text-align: left;
  padding: 0px;
  margin:0px;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.login .left .login-form .form-group-sm .form-control, .login .left .login-form .form-group-sm .form-control:focus{
  border: 1px solid black;
  border-radius: 0px;
  padding: 0.5vw;
  margin: 0px;
  background-color: white;
  color: black;
  font-weight: 400;
}

.login .left .login-form .form-control-label{
  font-weight: 400;
  color: black;
}
.login .left .login-form .button, .login .left .login-form .button:focus, .login .left .login-form .button:hover{
  text-transform: uppercase;
  border-radius: 0px;
  background-color: black;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}


.login .right{
  border: 0px solid black;
  margin: 0px;
  padding-right: 0px;
  width: 60%;
  height: 100%;
}
.login .right .decoration{
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60%;
}

.login .right .text{
  width: 80%;
  justify-content: center;
  text-align: left;
  margin: 5vw;
  margin-bottom: 0vw;
}

.login .right .text h2{
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  font-size: 2vw;
}

.login .right .text p{
  font-family: Geneva, sans-serif;
  font-size: 1.5vw;
}


.errormessage{
  background-image: url('./errormessage.png');
  color: black;
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
}

.errormessage p{
  margin-left: '1.5vw';
}
