.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid grey;
}

.App-content{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
}

.App-link {
  color: maroon;
  text-decoration: underline;
}

.App-header-text{
  text-align: center;
  color: maroon;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-caption-text{
  text-align: center;
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.button{
  background-color: maroon;
  border: none;
  transition: 0.3s opacity ease;
  cursor: pointer;
  color: white;
  width: 100%;
}

.form-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.form-column{
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  margin: auto
}

.form-element{
  padding: 5px;
  text-align: center;
}

.class-card{
  border-radius: 15px;
  padding: 0.8rem;
  background-color: gold;
  color: black;
  padding: 15px;
  margin: 10px;
  justify-content: space-between;
}

.class-card-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-width: 1px;
  justify-content: center;
  margin:10px;
}

.lectures-entry{
  text-decoration-color: black;
}

