.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border-bottom: 1px solid grey;
}

.App-main{
  padding: 20px;
}
.App-content{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
  width: 100%;
}

.App-side-content{
  background-color: transparent;
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 70%
}
.App-link {
  color: #502075;
  text-decoration: underline;
  font-size: 15px;
}

.App-header-text{
  text-align: center;
  color: #502075;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-caption-text{
  text-align: center;
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.button{
  background-color: #502075;
  border: none;
  transition: 0.3s opacity ease;
  cursor: pointer;
  color: white;
  width: 100%;
}

.form-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.form-column{
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  margin: auto
}

.form-element{
  padding: 5px;
  text-align: center;
}

.course-card{
  border-radius: 15px;
  padding: 0.8rem;
  color: black;
  padding: 15px;
  margin: 10px;
  justify-content: space-between;
}

.course-card-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-width: 1px;
  justify-content: center;
  margin:10px;
}

.course-card-header{
  display: flex;
  flex: row;
  justify-content: center;
}

.course-card-title{
  padding-left: 45px;
  width: 98%
}

.course-popup-header{
  display: flex;
  flex: row;
  justify-content: space-between;
  text-align: center;
  color: #502075;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  border-bottom: 1px solid grey;
}
.course-popup-title{
  width: 100%;
  text-align: center;
  color: #502075;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  padding-left: 50px;
}

.lectures-entry{
  text-decoration-color: black;
}

.lectures-table-header{
  font-weight: bold;
  color: #502075;
}

.lectures-table-link{
  text-decoration: underline;
  color: #502075;
}




