.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: maroon;
  text-decoration: underline;
}

.App-header-text{
  text-align: center;
  color: maroon;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-caption-text{
  text-align: center;
  color: black;
  font-size: calc(10px + 2vmin);
  font-weight: normal;
}

.button{
  background-color: maroon;
  border: none;
  transition: 0.3s opacity ease;
  cursor: pointer;
  color: white;
}

.form-row{
  display: flex;
  flex-direction: row;
}

.form-element{
  padding: 5px;
}