.faq{
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif !important;
	align-items: center;
	padding-top:10vh ;
	text-align: left;
}

.faq h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
}


.faq .content{
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: transparent;
	align-items: left;
	height: 100%;
	margin-top: 4rem;
}

.faq .content p{
	font-weight: 300;
	line-height: 122%;
	font-size: 1rem;
}

.faq .content .searchbar, .faq .content .searchbar:focus{
	border: 0;
	border-bottom: 2px solid black;
	font-size: 1.5rem;
	outline: 0;
}
.faq .buttons{
	margin: 4rem 0rem;
}

.faq .buttons .button, .faq .buttons .button:focus{
	background-color: transparent;
	color: black;
	width: 100%;
	border: 2px solid #ffe01c;
	border-radius: 22px;
	letter-spacing: 2px;
	font-weight: bold;
	outline: 0px;
}


.faq .buttons .button:hover, .faq .buttons .button:active, .faq .buttons>.btn.active, .faq .buttons .button-selected{
	border: 2px solid #6311AB !important;
	box-shadow: 0;
	-webkit-box-shadow: 0;
}


.faq .information{
	margin-bottom: 4rem;
}

.faq .sidebar{
	display: flex;
	flex-direction: column;
	position: sticky;
	top:0;
}

.faq .sidebar .button{
	text-transform: none;
	outline: none;
	font-weight: 500;
	font-family: 'Rubik', sans-serif ;
	justify-content: flex-start
}

.faq .sidebar .button-selected{
	font-weight: 600;
}
