html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; 
    vertical-align: baseline;
}

.faq{
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top:10vh ;
	text-align: left;
}

.faq h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
}


.faq .content{
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: transparent;
	align-items: left;
	height: 100%;
	margin-top: 4rem;
}

.faq .content p{
	font-weight: 300;
	line-height: 122%;
	font-size: 1rem;
}

.faq .buttons{
	margin: 4rem 0rem;
}

.faq .button, .faq .button:focus{
	background-color: transparent;
	color: black;
	width: 100%;
	border: 2px solid #ffe01c;
	border-radius: 22px;
	letter-spacing: 2px;
	font-weight: bold;
	outline: 0px;
}


.faq .buttons .button:hover, .faq .buttons .button:active, .faq .buttons>.btn.active, .faq .button-selected{
	border: 2px solid #6311AB;
	box-shadow: 0;
	-webkit-box-shadow: 0;
}

.faq .info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	background-color: transparent;
}

.faq .info .right{
	background-color: green;
	display: flex;
	flex-direction: column;
	width: 55%;
	padding: 2vw;
}


.faq .info .left{
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 2vw;
	padding-left: 3vw;
	padding-right: 3vw;
	justify-content: space-between;
}

.faq .info .left .button{
	border: 0px;
	font-weight: bold;
	background-color: transparent;
	color: black;
	width: 100%;
	text-align: left;
}

.faq .info .left>.btn.active, .faq .info .left .button:active{
	border: 0px;
	font-weight: bold;
	color: grey;
	width: 100%;
	box-shadow: none;

}

