html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0; 
    border: 0;
    font-size: 100%;
    font: inherit; 
    vertical-align: baseline;
}

html, body{
	min-height: 100%;
}

.Live{
	font-family: 'Rubik', sans-serif;
	background-color: white;
	color: black;
	height: 100%;
	width: 100%;
	z-index: 0;
	padding: 5rem;
}

.LiveQuiz{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Arial', sans-serif;
}

.LiveQuiz .quiz-number{
	width: 5%; 
	font-size: 30px;
	margin-bottom: 1rem;
}


.LiveQuiz .quiz-duration{
	width: 10%;
	display: flex;
	justify-content: flex-end;
	font-size: 30px;
	margin-bottom: 1rem;
}

.LiveQuiz .quiz-duration .Timer p{
	margin: 0;
}

.LiveQuiz .quiz-content{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.LiveQuiz .quiz-content .question{
	font-size: 30px;
	margin-bottom: 1rem;
}

.LiveQuiz .quiz-content .answers{
	margin-right: 1rem;
}

.LiveQuiz .quiz-content .answers p{
	font-size: 24px;
}

.LiveQuiz .quiz-content .answers .answer{
	background: transparent;
	border-radius: 8px;
	margin-top: 0.5rem;
	padding: 1rem;
	border: 1px solid transparent;
	font-size: 24px;
}

.LiveQuiz .quiz-content .answers .live-answer{
	background: #F7F3DC;
	border-radius: 8px;
	margin-top: 0.5rem;
	padding: 1rem;
	border: 1px solid transparent;
	font-size: 24px;
}

.LiveQuiz .quiz-content .answers .correct-answer{
	background: #82DAA4;
	border-radius: 8px;
	margin-top: 0.5rem;
	padding: 1rem;
	border: 1px solid transparent;
	font-size: 24px;
}

.LiveQuiz .quiz-content .answers .incorrect-answer{
	background-color: transparent;
	border-radius: 8px;
	margin-top: 0.5rem;
	padding: 1rem;
	border: 1px solid transparent;
	font-size: 24px;
}

.LiveQuiz .quiz-content .quiz-stat{
	max-width: 50%;
}



.LiveQuiz .quiz-content .quiz-stat h1{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5rem;
	letter-spacing: -2.03px;
}

.LiveQuiz .quiz-content .quiz-stat p{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	letter-spacing: -0.966667px;
}


.LiveMenu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #323232;
	color: white;
	padding: 10px;
	position: absolute;
	left: 5.57%;
	right: 7.13%;
	top: 88.31%; /*88.31*/
	bottom: 4.01%;
}


.LiveMenu .navigator{
	border-right: solid 1px white;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.LiveMenu .navigator .button{
	margin: auto;
	font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
}

.LiveMenu .navigator .button[disabled]{
	cursor: auto;
}

.LiveMenu .navigator .icon-btn{
	color: white;
}
.LiveMenu .navigator .icon-btn[disabled]{
	color: #4A4A4A;
	cursor: auto;
}

.LiveMenu .navigator .icon-btn .icon{
	transform:rotate(90deg);
	margin: auto;
}

.LiveMenu .quizzes-options{
	border-right: solid 1px white;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.LiveMenu .quizzes-options .toggle-button{
	margin: auto
}

.LiveMenu .icons{
	border-right: solid 1px white;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.LiveMenu .icons .icon-btn-off{
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	line-height: 14px;
	margin-right: 1rem;
	margin-left: 1rem;
	color: white;
}

.LiveMenu .icons .icon-btn-on{
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	line-height: 14px;
	margin-right: 1rem;
	margin-left: 1rem;
	color: #FFE01C;
}

.LiveMenu .icons .icon-btn-off[disabled]{
	color: #4A4A4A;
	cursor: not-allowed;
}

.LiveMenu .icons .icon-btn-on .MuiIconButton-label-6, .LiveMenu .icons .icon-btn-off .MuiIconButton-label-6{
	flex-direction: column;

}

.LiveMenu .icons .icon-btn-on, .LiveMenu .icons .icon-btn-on:hover, .LiveMenu .icons .icon-btn-on:active, .LiveMenu .icons .icon-btn-off, .LiveMenu .icons .icon-btn-off:hover, .LiveMenu .icons .icon-btn-off:active{
	background-color: transparent;
}


.LiveMenu .timer{
	border-right: solid 1px white;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	margin: auto;
}

.LiveMenu .counter{
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}


.MuiIconButton-root-1{
	padding:0;
}
