html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body{
  width: 100% important!;
  height: 100% important!;
}

.Home {
  padding-top:10vh ;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  background: url('./landerbackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.Home .area{
  margin-top: 4rem;
}
.Home .lander {
  text-align: left;
  width: 100% !important;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;
}

.Home .lander .row .image img{
  max-width: 100%;
  max-height: 100%;
}

.Home .lander .row .text{
  margin: auto;
}

.Home .lander .row .text .btn {
  background-color: #5960A3;
  border: none;
  border-radius: 22px;
  transition: 0.3s opacity ease;
  cursor: pointer;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5vw;
}
.Home .lander .row .text .btn:hover{
  background-color: black;
  color: white;
}


.Home  .lander .row .text h1 {
  color: black;
  padding-bottom: 0px;
  font-size: 5vw;
  font-weight: 500;
}

.Home .lander .row .text p{
  font-size: 2vw;
  font-weight: 300;
}

.Home .about {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  justify-content: space-around;
  background-color: transparent;
  margin-top: 1rem;
}

.Home .about h1{
  color: black;
  padding-bottom: 0px;
  font-size: 3vw;
  font-weight: 400;
}

.Home .about img{
  height: 50%;
  width: 20%;
  margin: auto;
}

.Home .about .benefit{
  display: flex;
  flex-direction: column;
}

.Home .about .benefit h5{
  font-weight: 400;
  font-size: 1.5rem;
}
.Home .about .benefit p{
  font-weight: 300;
  line-height: 111%;
  font-size: 1rem;
}

.Home .pricing{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  padding: 5vw;
}

.Home .pricing h1{
  color: black;
  font-size: 4vw;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
}

.Home .pricing .header{
  border-bottom: 2px purple solid;
}

.Home .pricing .content{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.Home .pricing .card{
  height: 100%;
  margin: 10px;
}

.Home .pricing .media{
  height: 100%;
}
