.avatar-button, .avatar-button:active, .avatar-button:focus{
	display: inline-block;
	border-radius: 50%!important;
	background-color:red!important;
	border: none;
	margin: auto 12px auto 12px;
	color: black;
	padding: 0 4px 0 4px!important;
	height: 1.5rem;
	width: 1.5rem;
	outline: 0;
}

.ProfileAvatar .popup-profile{
	display: flex;
	flex-direction: row;
}

.ProfileAvatar .popup-profile .text{
	margin-left: 1vw;
	padding: 5px;
	text-align: left;
}

.ProfileAvatar .popup-profile .text p{
	font-weight: 400;
	font-size: 12px;
}

.ProfileAvatar .popup-profile .text h3{
	font-weight: 500;
	font-size: 15px;
}


.ProfileAvatar .avatar{
	background:red;
	min-width:5vw;
	min-height:5vw;
	border-radius:50%;
	text-align: center;
	display: flex;
}

.ProfileAvatar .avatar p{
	margin: auto;
	font-size: 5vh;
	color: white;

}

.ProfileAvatar .buttons{
	justify-content: space-between;
	margin-top: 0.75rem;
	display: flex;
}
.ProfileAvatar .buttons .button, .ProfileAvatar .buttons .button:active, .ProfileAvatar .buttons .button:focus{
	margin: auto;
	border: 0px;
	font-weight: 500;
	width: 100%;
	outline: 0px;
	background: transparent;
}

.ProfileAvatar .buttons .button:hover{
	background: #f4f4f4;
}