

.signup {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  border: 0px solid black;
  color: black;
  width: 100%
}

.signup h1{
  margin-bottom: 1rem;
}

.signup .logo{
  width: 100%;
  margin: auto;
}

@media (max-width: 768px){
  .signup .logo{
    width: 50%;
  }
}

.signup .content{
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: 0px solid black;
  justify-content: flex-start;
  text-align: left;
}

.signup .content h1{
  font-weight: 500;
}

.signup .content p{
  text-align: left;
  margin-bottom: 0.2vw;
  font-weight: 300;
}

.signup .content a{
  font-weight: 300;
  text-align: left;
  color: #5960A3;
  text-decoration: underline;
}

.signup .form-control, .signup .css-vj8t7z, .signup .css-vj8t7z:focus , .signup .css-vj8t7z:hover, .signup .form-control:focus{
  border-radius: 1px;
  color: black;
  border-color: black;
  box-shadow: 0;
  -webkit-box-shadow: 0;
}


.signup .btn-default{
  border-radius: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: #ffe01c;
  color: black;
}

