html, body, div, span, ul,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
div{
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  color: black;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login .content{
  padding: 3.8vw 30vw 3.8vw 30vw;
}
.login h1{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1vw;
}

.login p{
  text-align: left;
  margin-bottom: 0.2vw;
  font-weight: 300;
  font-size: 1rem;
}

.login a{
  font-weight: 300;
  text-align: left;
  font-size: 1rem;
  color: #5960A3;
  text-decoration: underline;
}

.login .login-form{
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: left;
}


.login .login-form .form-element{
  text-align: left;
  padding: 0px;
  margin:0px;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.login .login-form .form-group-sm .form-control, .login .login-form .form-group-sm .form-control:focus{
  border: 1px solid black;
  border-radius: 0px;
  padding: 0.5vw;
  margin: 0px;
  background-color: white;
  color: black;
  font-weight: 400;
}

.login .login-form .form-control-label{
  font-weight: 400;
  color: black;
}
.login .login-form .button, .login .login-form .button:focus, .login .login-form .button:hover{
  text-transform: uppercase;
  border-radius: 0px;
  background-color: black;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}



.errormessage{
  background-color: #E2A0A0;
  color: black;
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
}

.errormessage p{
  margin: auto;
}

.errormessage .icon{
  height: 2rem;
  width: 2rem;
  margin: auto;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 997px){
  .login .content{
    padding: 4rem 8rem 4rem 8rem;
  }
  .login h1{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1vw;
  }
  
  .login p{
    text-align: left;
    margin-bottom: 0.2vw;
    font-weight: 300;
    font-size: 1rem;
  }
  
  .login a{
    font-weight: 300;
    text-align: left;
    font-size: 1rem;
    color: #5960A3;
    text-decoration: underline;
  }
}