
.termsandconditions{
	background-color: #ffe01c;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top: 6vw;
	text-align: left;

}

.termsandconditions h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
}



.termsandconditions .text{
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 55% !important;
	justify-content: space-around;
	background-color: transparent;
	align-items: left;
	padding: 5vw;
	margin-bottom: 1.4vw;
	height: 100%;
}