
.termsandconditions{
	background-color: #ffe01c;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	padding-top: 114px;
	text-align: left;
}
/* 
.termsandconditions h1{
	font-weight: 500;
	font-size: 5vw;
	justify-content: flex-start;
	text-align: left;
	margin-bottom: 1.5vw;
	color: black;
} */



.termsandconditions .text{
	padding: 4rem;
}