html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; 
    vertical-align: baseline;
}

html{
	height: 100%;
}

.Dashboard{
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: column;
	overflow: visible
}

.Dashboard .left{
	width: 15%;
	background-color: #f4f4f4;
	align-items: flex-start;
	display: flex;
	align-content: center;
	text-align: center;
	justify-content: space-between;
	position: fixed;
	height: 100vh;
	overflow: auto;
	margin-top: 2.97rem;
	
}

.Dashboard .left .buttons{
	flex-direction: column;
	margin: 0px;
	padding:0px;
	width: 100%;
	margin-bottom: 2vh;

}

.Dashboard .left .buttons .button{
	width: 100%;
	background-color: transparent;
	border: none;
	border-right:0.30vw transparent solid;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	display: flex;
	text-align: left;
	padding-left: 3rem;
	margin: auto;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.Dashboard .left .buttons .button:active, .Dashboard .left .buttons .button:focus, .Dashboard .left .buttons>.btn.active{
	border: none;
	border-right: 0.30vw #ffe01c solid;
	outline: none;
	color:black;
	font-weight: bold;
	background-color:#F7F3DC;
}

.Dashboard .left .buttons .button:hover:not(.active){
	font-weight: 400;
	border-right: 0.30vw #ffe01c solid;
	outline:none;
}

.Dashboard .left .addButton{
	background-color: #ffe01c;
	font-weight: 500;
	border: none;
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
}

.Dashboard .left .addButton:hover{
	background-color: #F7F3DC;
}

.Dashboard .left .addButton:focus{
	outline: none;
}

.Dashboard .left .calendar{
	text-align: center;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.Dashboard .left .calendar .react-datepicker__header{
	border-bottom: 0.5px solid #aeaeae;
	background-color: white;
}

.Dashboard .left .calendar .react-datepicker__current-month{
	font-weight: 400;
	border-bottom: 0.5px solid #aeaeae;
	padding-bottom: 1vh;
}

.Dashboard .left .calendar .react-datepicker__navigation--previous{
	left: 1px;
}


.Dashboard .left .calendar .react-datepicker__navigation--next{
	right:1px;
}

.Dashboard .left .calendar .react-datepicker__day-name{
	color: #aeaeae;
}

.Dashboard .left .calendar .react-datepicker__day--selected{
	background-color: #ffffe0;
	color: black;
}

.Dashboard .left .calendar .react-datepicker-wrapper .react-datepicker__today-button{
	background:#ffe01c;
}

.Dashboard .popup{
	text-align: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	overflow: auto;
	padding: 1rem;
	/*padding-left: 3rem;*/
	/*padding-right: 3rem;*/
	color: black;
	overflow-y: auto;
	max-height: 90vh;
	
}

.Dashboard .popup h2{
	color: black;
	font-weight: 400;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.Dashboard .popup .popup-header{
  display: flex;
  flex: row;
  justify-content: center;
  text-align: center;
  font-size: calc(15px + 2vmin);
  font-weight: 500;
  color: black;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}

.Dashboard .popup .button, .Dashboard .popup .button:focus{
	background-color: #ffe01c;
	border:0px;
	color: black;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	border-radius: 8px;
	width: 145px;
	margin: auto;

}
.Dashboard .popup .button:hover{
	background-color: #F7F3DC;

}

.Dashboard .popup .buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.Dashboard .popup .form{
	align-items: center;
    margin-bottom: 1vw;
    justify-content: flex-end;  
}

.Dashboard .popup label{
	text-align: right;
}

.Dashboard .popup p{
	color: black;
}

.Dashboard .left .popup .buttons{
	display: flex;
	flex-direction: row;
	text-align: center;
}

.Dashboard .left .popup .buttons .button, .Dashboard .left .popup .buttons .button:focus{
	background-color: #ffe01c;
	border:0px;
	color: black;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	display: block;
	width: 50%;
	text-align: center;
	padding: 1vh 1vw 1vh 1vw;
}

.Dashboard .left .popup .buttons .button:hover:not(.active){
	font-weight: 500;
	border: none;
}
.Dashboard .left .popup .buttons .buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}




.Dashboard .right{
	width: 85%;
	background-color: white;
	align-self: flex-end;
	margin-top: 1.5rem;
}

.Dashboard .navigation{
	background-color: #f4f4f4;
	padding: 1vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	display: flex;
	flex-direction: row;
	vertical-align: baseline; 
	justify-content: space-between;
	position: fixed;
	width: 100vw;
	z-index: 10;
	
}

.Dashboard .navigation .MuiIconButton-root-1{
	padding:6px;
}

.Dashboard .navigation .CoursesOption .toggle-button, .Dashboard .navigation .CoursesOption .toggle-button:active {
	background: transparent;
	min-width: 5rem;
	border:none;
	box-shadow: none;
}
.Dashboard .navigation .CoursesOption .buttons{
	display: flex;
	flex-direction: column;
}

.Dashboard .navigation .CoursesOption .buttons .button{
	background: transparent;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
}

.Dashboard .navigation .CoursesOption .buttons .button:hover{
	font-weight: 500;
}

.Dashboard .right .content{
	overflow: visible;
	padding: 2vw;
	position: fixed;
	background-color: white;
	z-index: 2;
	width: 85%;
}


.Dashboard .right .quizzes{
	padding-top: 15%;
	margin: 2vw;

}
.Dashboard .right .content .header{
	display:flex;
	flex-direction:row;
	vertical-align: middle;
	margin-bottom: 2vh;
	background-color: white;
}

.Dashboard .right .content .header .live-indicator{
	border-radius:50%;
	width:19px;
	height:19px;
	margin: auto;
	margin-left: 2vw;
}

.Dashboard .right .content .header h1{
	font-size: 5vh;
	font-weight: 500;
	
}

.Dashboard .right .content .header p{
	font-size: 2.5vh;
	margin: auto;
	margin-left: 0.5vw;
}
.Dashboard .right .content .content-option{
	background: transparent;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	
}


.Dashboard .right .content .content-option{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Dashboard .right .content .content-option .interactive{
	background-color: #F4F4F4;
	border-radius: 10px;
	padding: auto;
	display: flex;
	flex-direction: row;
	width: 203px;
	height: 58px;
	justify-content: center;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 1ms;
    cursor: pointer;
}
.Dashboard .right .content .content-option .interactive .icon{
	margin: auto;
	margin-right: 1vw;
	margin-left: 1vw;
	size:auto;
	min-height: 30px;
	height: 30px;
	width: 30px;
	vertical-align: center;
	font-size:15px;
	color: #FFE01C;
}

.Dashboard .right .content .content-option .interactive .btn: active{
	outline: none;
}
.Dashboard .right .content .content-option  .interactive .fab .MuiSvgIcon-root-10{
	font-size: 15px;
	margin: 0px;
}

.Dashboard .right .content .content-option  .interactive p{
	color: black;
	padding: 0px;
	margin: auto;
	margin-right: 1.25vw;
	font-size: smaller;
}

.Dashboard .right .content .content-option .card-content .interactive a{
	width: 100%;
	margin:auto;
	font-size: 3.2vh;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.Dashboard .right .content .content-option  .interactive .popup .button, .Dashboard .right .content .content-option  .interactive .popup .button:active{
	border: none;
	border-bottom: 1.5px solid #ccc;
	width: 100%;
	border-radius: 0px;
	background-color: transparent;
	box-shadow: none;
	text-align: center;
	height: 3rem;
	font-size: 1.5rem;
	vertical-align: middle;

}
.Dashboard .right .content .content-option  .interactive .popup .button:hover, .Dashboard .right .content .content-option .interactive .popup .button:focus{
	font-weight: 500;
	outline: none;
}

.Dashboard .right .content .content-option .interactive .popup .buttons{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.Dashboard .right a{
	color: black;
	margin-top: 1.1vw;
}

.Dashboard .right a:hover{
	color:#5960A3 ;
	text-decoration: none;
}

.Dashboard .right .content .arrows{
	display:flex;
	flex-direction:column;
	margin: auto;
	margin-right: 0.5rem;
	height: 100%;
	justify-content: space-between;
	opacity: 0.5;
}

.arrows .MuiIconButton-root-1, .card-content .MuiIconButton-root-1 {
	padding: 0.2rem;
}
.Dashboard .right .quizzes .question-card{
	display: flex;
	flex-direction: column;
	margin-top: 2vh;
	margin-bottom: 2vh;
	align-content: center;
	justify-content: center;
	overflow: visible;
	width: 100%;
	font-family: 'Arial', sans-serif;
}


.Dashboard .right .quizzes .question-card .card-content{
	justify-content: space-between;
	margin: auto;
	display: flex;
	flex-direction: row;
	overflow: visible;
	width: 100%;
}

.Dashboard .right .quizzes .question-card .card-action{
	background-color: #f4f4f4;
	padding:0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-between;
}

.Dashboard .right .quizzes .question-card .card-action .expand-button-normal{
	transform: rotate(0deg);
	font-size: 5vw;
	transition: 1s transform;
}

.Dashboard .right .quizzes .question-card .card-action .expand-button-expanded{
	transform: rotate(180deg);
	transition: 1s transform;
}

.Dashboard .right .quizzes .question-card .card-action .button{
	background-color: transparent;
	border-radius: 0px;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.Dashboard .right .quizzes .question-card .answers{
	display:flex;
	flex-direction:column;
	margin:auto;
	width: 85%;
}

.Dashboard .right .quizzes .question-card .answers .answer{
	background-color: #f7f3dc;
	border-radius: 0;
	margin: auto;
	margin-top: 1vh;
	margin-bottom:1vh;
	width: 100%;
	border: none;
	text-align: left;
	font-weight: 500;
}

.Dashboard .right .quizzes .question-card .answers .answer-correct{
	background-color: #82DAA4;
	border-radius: 0;
	margin: auto;
	margin-top: 1vh;
	margin-bottom:1vh;
	width: 100%;
	border: none;
	text-align: left;
	font-weight: 500;
}

.Dashboard .right .quizzes .question-card .switch {
    border: 1px solid #ccc;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    
}

.Dashboard .right .quizzes .question-card .switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 30px;
    height: 29px;
    left: 0;
    border-radius: 50%;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
    margin-bottom: auto;
}

.Dashboard .right .quizzes .question-card .switch.on {
    background: #82DAA4;
}

.Dashboard .right .quizzes .question-card .switch.on .switch-toggle {
    left: 37px;
}

.Dashboard .right .quizzes .question-card .switch.disabled {
    cursor: not-allowed;
}


.slider {
	width: 100%;
    max-width: 500px;
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #82DAA4;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.handle {
    font-size: 0.9em;
    text-align: center;
    background-color: white;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #DADADA;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}
.handle.active {
	background-color: white;
}
.bar {
	position: relative;
	background: #F2E5F2; 
}
.bar.bar-1 {
	background: #ffffe0;
	border-radius: 20px 5px 5px 20px;
}
.bar.bar-2 {
	background: #F2E5F2;
	border-radius:5px 0px 0px 5px;
}
.slider .bar {
	/*top: 20px;*/
	height: 1.9rem;
}
.slider .handle {
	transform: translate(0%, -50%);
	width: 1.3rem;
	height: 1.3rem;
   	line-height: 48px;
}
.vertical-slider .handle {
	left: 1px;
	width: 48px;
	line-height: 50px;
}
.vertical-slider .bar {
	left: 20px;
	width: 10px;
}
#horizontal-0, #horizontal-1, #horizontal-2, #horizontal-3,#vertical {
	margin: 20px 10px;
}
#horizontal-2 .bar.bar-2 {
	background: #ddd;
}
.slider-text{
	font-weight: 300;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1.8px;
}

.MuiSwitch-colorSecondary-7.MuiSwitch-checked-5 + .MuiSwitch-bar-9{
	background-color: #82DAA4;
}

.MuiSwitch-colorSecondary-7.MuiSwitch-checked-5{
	color: #82DAA4;
}