.InputQuestion{
	font-family: 'Rubik', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.InputQuestion .header h1{
	font-size: 4vh;
	margin-top: auto;
	margin-bottom: auto;
	margin: auto;
	text-align: center;
	
}

.InputQuestion .header{
	margin-bottom: 3vh;
	margin-top: 3vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	align-content: center;
}

.InputQuestion .form{
	width: 100%;
	margin-left: 0;
	overflow-y: auto;
}

.InputQuestion .form .setting{
	border:1px solid #ccc;
	border-radius:10px;
}

.InputQuestion .form .setting .form-group{
	display:flex;
	flex-direction:row;
	margin: 2vh 1vw 2vh 1vw;
	justify-content: space-between;
}

.InputQuestion .form .setting .form-group label{
	text-align: left;
	font-weight: 500;
	font-style: italic;
	font-size: 2.5vh;
	margin-right: 2vw;
}

.InputQuestion .form .setting .form-group .form-control{

}

.InputQuestion .form .setting .form-group .Timer-adjust{
	justify-content: flex-start;	
	padding: 0rem 0.05rem 0rem 0.75rem;
	line-height: 1.4285714;
	color: #555;
	background-color:#fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.InputQuestion .form .setting .form-group .Timer-adjust .adjust .icon-top .MuiSvgIcon-root-1{
	width: 1.2rem;
	border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    text-align: center;
    cursor: default;
    transition: all 0.1s ease 0s;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 3px inset, rgba(255, 255, 255, 0.7) 1px 1px 3px inset;
    top: 2px;
    bottom: 50%;
    border-radius: 2px 2px 0px 0px;
    border-width: 1px 1px 0px;
    margin-top: 0.15rem;
    border-radius: 0px
}

.InputQuestion .form .setting .form-group .Timer-adjust .adjust .icon-bottom .MuiSvgIcon-root-1{
	width: 1.2rem;
	border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    text-align: center;
    cursor: default;
    transition: all 0.1s ease 0s;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) -1px -1px 3px inset, rgba(255, 255, 255, 0.7) 1px 1px 3px inset;
    top: 50%;
    bottom: 2px;
    border-radius: 0px 0px 2px 2px;
    border-width: 0px 1px 1px;
    margin-bottom: 0.1rem;
    border-radius: 0px
}

.InputQuestion .form .setting .form-group .Timer-adjust .adjust .icon-bottom, .InputQuestion .form .setting .form-group .Timer-adjust .adjust .icon-top{
	border-radius: 0px;
	transition: none;
} 

.InputQuestion .form .multiple-choice{
	display: flex;
	flex-direction: column;
	padding: 3px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-bottom: 1rem;
}

.InputQuestion .form .multiple-choice label{
	font-size: 1vw;
	margin-left: 1vw;
	margin-top: auto;
	margin-bottom: auto;
	color: green;
	font-weight: 500;
}

.InputQuestion .form .multiple-choice .action{
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
}


.InputQuestion .form .multiple-choice .action .switch {
    border: 1px solid #ccc;
    width: 25px;
    height: 15px;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: -0.5vw;
    background-color: yellow;
}

.InputQuestion .form .multiple-choice .action .switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 14px;
    height: 13px;
    left: 0;
    border-radius: 12px;
    background: white;
    position: relative;
    transition: left .2s ease-in-out;
}

.InputQuestion .form .multiple-choice .action .switch.on {
    background: #82DAA4;
}

.InputQuestion .form .multiple-choice .action .switch.on .switch-toggle {
    left: 10px;
}

.InputQuestion .form .multiple-choice .action .switch.disabled {
    cursor: not-allowed;
}

.InputQuestion .form .multiple-choice .form-control{
	border:none;
	box-shadow:none;
}

.InputQuestion .question label{
	justify-content: flex-start;
}
.InputQuestion .i_button, .InputQuestion .i_button:focus{
	background-color: #ffe01c;
	border:0px;
	color: black;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	margin-left: 1vw;
	width: 100%;
	border-radius: 0px;
}

.InputQuestion .i_button:hover:not(.active){
	font-weight: 500;
	border: none;
}
.InputQuestion .i_buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 2vh;
}