

html{
	height: 100%;
}

.LoadingPage{
	font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.LoadingPage p{
    font-size: 1.5rem;
}