
.forgetpassword{
	background-color: white;
	height: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
	align-items: center;
	/*padding-top: 4vw;*/
	text-align: center;
	margin: auto;
}

.forgetpassword h1{
	margin: auto;
	font-weight: 500;
	font-size: 3rem;
	justify-content: flex-start;
	text-align:center;
	color: black;
}

.forgetpassword p{
	text-align: center;
}

.forgetpassword .form a{
	font-weight: 400;
	color: black;
	letter-spacing: 1px;
	margin-top: 0.5vw;
	margin-left: 3vw;
	width: 100%;
}

.forgetpassword .text{
	text-align: justify;
	display: flex;
	flex-direction: column;
	width: 60%;
	justify-content: space-around;
	background-color: transparent;
	align-items: center;
	padding: 5vw;
	height: 100%;
}

.form{
	align-items: flex-start;
	text-align: left;
	margin: 0px;
	width: 100%;
}

.form-element{
	text-align: left;
	padding: 0px;
	margin:0px;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
}

.form-group-sm .form-control, .form-group-sm .form-control:focus{
	border: 0px;
	border-radius: 0px;
	padding: 0.5vw;
	margin: 0px;
	background-color: white;
	color: black;
	font-weight: 400;
}

.form-control-label{
	font-weight: 400;
	color: black;
}
.form .button, .form .button:focus, .form .button:hover{
	text-transform: uppercase;
	border-radius: 0px;
	background-color: black;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
}

