.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-header-text{
  text-align: center;
  color: maroon;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
}

.App-caption-text{
  text-align: center;
  color: black;
  font-size: calc(10px + 2vmin);
}



