.App {
  margin-top: 2vw;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  margin-top: 0px;
}


.navbar-default .navbar-collapse{
	
}

.navbar-default .navbar-toggle{
	border: 0px;
	background-color: transparent;
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  display: flex;
  color: black;
}

.navbar-default .navbar-brand:focus{
	color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand>a:active {
    color: goldenrod;
    background-color: transparent;
}

.App-image{
	height: 100%;
	padding-right: 5px;
}

.navbar-default{
	background-color: transparent;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
	align-items: center;
	vertical-align: center;
	border: 0px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav{
	margin-top: 1vw;
}

.navbar-default .navbar-nav > li > a{
	background-color: transparent;
	border-radius: 22px;
	border: 2px solid black;
	padding-top: 0.3vw;
	width: 120px;
	height: 30px;
	color: black;
	font-size: 12px;
	text-align: center;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a {
    color: goldenrod;
    background-color: transparent;
    border-color: goldenrod;
}

.navbar-default .navbar-nav >li{
	margin-left: 20px;
	margin-right: 0px;

}

.navbar-default .navbar-nav> li.navspec >a{
	border: 0px;
	padding-top: 6px;
}


