.footer{
  background-color: black;
  color: white;
  min-width: 100%;
  text-align: center;
  vertical-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .content{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.footer p {   
  color: white;
  font-size: 1vw;
  line-height: 1.5em;
  text-align: left; 
}


.footer .links{
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  height: 100%;
  border: 0px white solid;
}

.footer .links .f-link{
  color: white;
  text-align: left;
  padding-bottom:0.5rem;
}

.footer .icon{
  height: 5vh;
}

@media screen and (max-width: 768px){
  .footer p {   
    color: white;
    font-size: 2.25vw;
    line-height: 1.5em;
    text-align: left; 
  }

  .footer .links{
    font-size: 2vw;
  }
}
